<!-- *** SLIDER BAR STARTS *** -->
<section id="slider">
    <div class="container-fluid">
        <div class="row">
            <img class="w-100" src="../../../assets/images/O7Services-Slider.jpg" alt="" srcset="">
        </div>
    </div>
</section>
<!-- *** SLIDER BAR ENDS *** -->
<section id="welcome-banner">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <h1 class="text-blue mx-auto">Welcome To O7 Services</h1>
                        <p class="text-muted">An IT Company With Learning Hub</p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-3">
                        <div class="rounded-icon">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </div>
                        <div class="text-justify">
                            <h5>Website Designer & SEO</h5>
                            Website designing & Development Services for diverse needs with latest tools to render
                            appealing and user-friendly website design services.
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="rounded-icon">
                            <i class="fa fa-mobile-alt" aria-hidden="true"></i>
                        </div>
                        <div class="text-justify">
                            <h5>Mobile Development</h5>
                            Specialised in Android App Development, iOS development as well as Hybrid App Development
                            for
                            all business.
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="rounded-icon">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                        <div class="text-justify">
                            <h5>Software Development</h5>
                            Professionally Guaranteed Software Development Services to address a unique business or
                            personal
                            objective, goal or process.
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="rounded-icon">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="text-justify">
                            <h5>Industrial Training</h5>
                            Industrial Training plays an important role in a student’s life. It is significant as it
                            helps a
                            student to develop in his professional commandment.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="choose-us">
    <div class="container-fluid p-3 bg-choose text-white">
        <div class="row">
            <div class="col-6 col-sm-12 ms-5 text-left p-5">
                <h1 class=" mb-4">Reasons To Choose Us</h1>
                <p>We have experienced trainers. We will get live projects based on work and personality development
                    classes also. We have a good infrastructure with well-furnished labs.</p>
                <p class="text-warning">Real education real result what we learn with pleasure we never forget</p>
            </div>
        </div>
    </div>
</section>