<!-- *** MENU BAR STARTS *** -->
<section id="menuBar">
<div class="container-fluid bg-dark menu-bar">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row clearfix p-1">
                <div class="col-6">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item"><i class="fas fa-phone pr-2"></i><a
                                href="tel:+91-8437365007">+91-8437365007</a>
                        </li>
                        <li class="list-inline-item"><i class="fas fa-envelope pr-2"></i><a
                                href="mailto:enquiry@o7services.com">enquiry@o7services.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="header-social list-inline list-unstyled float-right">
                        <li class="list-inline-item pr-2"><a target="_blank" href="https://www.facebook.com/o7service/"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item pr-2"><a target="_blank" href="https://twitter.com/o7services2015"><i
                                    class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item pr-2"><a target="_blank"
                                href="https://www.linkedin.com/company/o7-services-it-company/?viewAsMember=true"><i
                                    class="fab fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item pr-2"><a target="_blank" href="https://www.youtube.com/channel/UCMhtAqScVz7ADFA8SgVr3hg"><i
                                    class="fab fa-youtube"></i></a></li>
                        <li class="list-inline-item pr-2"><a target="_blank" href="https://www.instagram.com/o7_services/"><i
                                    class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item pr-2"><a target="_blank" href=""><i class="fas fa-rss"></i></a></li>

                    </ul>
                </div>
            </div>
            <hr class="bg-white">
            <div class="row text-center p-2">
                    <div class="col-2">
                        <img class="img-fluid" src="../../../assets/images/o7service-clear-logo.png" alt="" srcset="">
                    </div>
                    <div class="col-8 offset-2">
                        <ul class="list-display list-unstyled font-weight-bold h5">
                            <li class="list-inline-item mr-3 p-1"><a routerLink="/home">Home</a></li>
                            <li class="list-inline-item mr-3 p-1"><a routerLink="/about">About</a></li>
                            <li class="list-inline-item mr-3 p-1"><a href="#">Our Service</a></li>
                            <li class="list-inline-item mr-3 p-1"><a href="#">Industrial Training</a></li>
                            <li class="list-inline-item mr-3 p-1"><a href="#">Our Products</a></li>
                            <li class="list-inline-item mr-3 p-1"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
            </div>  
        </div>
    </div>
</div>
</section>
<!-- *** MENU BAR ENDS *** -->
