<!-- ** Services Section Starts ** -->
<section id="services">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12 mb-4">
                        <h1 class="text-blue mx-auto">What we provide</h1>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-4 mb-5">
                        <div class="bg-warning p-4 round-dotted-border">
                        <div class="icon-white mb-4 text-white"><i class="fas fa-desktop"></i></div>
                        <div class="service-text text-center">
                            <h4 class="">Fully Responsive Website</h4>
                            <p>Designs are device friendly across all platforms and screen sizes which results in great UX.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-4 mb-5">
                        <div class="bg-warning p-4 round-dotted-border">
                        <div class="icon-white mb-4 text-white"><i class="fas fa-shopping-cart"></i></div>
                        <div class="service-text text-center">
                            <h4 class="">E-Commerce Website</h4>
                            <p>Best Solutions to enhance customer base and increase your sales with online store.
                            <br/><br/>
                            </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-5">
                        <div class="bg-warning p-4 round-dotted-border">
                        <div class="icon-white mb-4 text-white"><i class="fas fa-mobile-alt"></i></div>
                        <div class="service-text text-center">
                            <h4 class="">Mobile Development</h4>
                            <p>Expert Developers for Native and Hybrid App Developers for Android, iOS and Cross Platform.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-4 mb-5">
                        <div class="bg-warning p-4 round-dotted-border">
                        <div class="icon-white mb-4 text-white"><i class="fas fa-sun"></i></div>
                        <div class="service-text text-center">
                            <h4 class="">SEO Optimized</h4>
                            <p>Latest SEO techniques that are customized as per your Business requisites with authentic results.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-4 mb-5">
                        <div class="bg-warning p-4 round-dotted-border">
                        <div class="icon-white mb-4 text-white"><i class="fas fa-globe"></i></div>
                        <div class="service-text text-center">
                            <h4 class="">IT Integration</h4>
                            <p>Provide Services in Networking and training for CISCO and Microsoft Certifications.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-4 mb-5">
                        <div class="bg-warning p-4 round-dotted-border">
                        <div class="icon-white mb-4 text-white"><i class="fas fa-laptop-code"></i></div>
                        <div class="service-text text-center">
                            <h4 class="">IT Training</h4>
                            <p>Our IT training programs & IT Certifications help to acquire skills in cutting-edge technologies.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ** Services Section Ends ** -->
