<!--** About Banner Starts**-->
<section id="about-banner">
    <div class="bg-choose">
        <div class="container-fluid text-white">
            <div class="row">
                <div class="col-11 offset-1 text-start my-5 p-5">
                    <h1 class="banner-heading mb-4">About</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--** About Banner Ends**-->
<!--** About Text Starts**-->
<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 mx-auto">
                <div class="row py-5">
                    <div class="col-12">
                        <h2>About O7</h2>
                    </div>
                    <div class="col-xl-7 col-xs-12">
                        <div class="">
                            <div class="text-muted text-justify">
                                <p>O7 Services is an ISO 9001:2015 Certified Company and is blessed with Strong and
                                    Talented
                                    Team. We offer the most advanced IT solutions, supporting full business cycle:
                                    preliminary consulting, system development & deployment, quality assurance and 24×7
                                    supports. With a rich experience of over 4 successful years, we tend to build long
                                    lasting strategic partnerships with our clients to ensure affordable prices, timely
                                    delivery and measurable business results. Reliability, enthusiasm and creativeness
                                    are
                                    our keywords we live by and our professionalism gives it a definite shape in the
                                    form of
                                    our products & solutions. We have vast experience and expertise in Custom Software,
                                    Designing, Hosting services, Web Development, Registration of Domain Names with the
                                    various latest extensions, Internet and Social Media Marketing, Search Engine
                                    Optimization (<a href="#"><strong>SEO</strong></a>), Pay Per Click (PPC) Management
                                    etc.</p>
                                <p>Apart from this, O7 services also provide 6 Months/ 6 Weeks Industrial Training to
                                    the
                                    students in all major IT Courses like Android, Python, PHP, SEO, CodeIgniter,
                                    Laravel,
                                    WordPress, Red Hat Linux, CCNA, CCNP, CCNA Security, MCSE, MCITP, Angular JS, Java,
                                    C/C++, Photoshop, CorelDraw etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xs-12">
                        <div class="mt-1">
                            <img class="img-fluid" src="./../../../assets/images/about-o7.jpg" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--** About Text Ends**-->
<!--** About Why Choose Starts**-->
<section id="about-why-choose">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-11 mx-auto">
                <div class="row text-center mb-5">
                    <div class="col-12">
                        <h1 class="text-blue mx-auto">Why Choose Our Institution</h1>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-4">
                        <div class="rounded-icon text-center">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="text-center text-blue">
                            <h2>Vision</h2>
                        </div>
                        <div class="text-justify text-muted">
                            <p>“Vision is the Art of seeing what is Invisible to Others”
                                To become a prime performer in the global marketplace by providing highly innovative web
                                designing, web development and internet marketing services that will drive our clients'
                                business towards growth. Worldwide reputation is the dream of every company and we want
                                to
                                achieve it through our work.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="rounded-icon text-center">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="text-center text-blue">
                            <h2>Missions</h2>
                        </div>
                        <div class="text-justify text-muted">
                            <p>“Your Dream is our Mission”
                                To serve our customers to the best by delivering technically sound and affordable
                                business solutions while ensuring excellent customer support throughout the process. We
                                Deliver Innovative Web and Mobile Solutions, ensure complete transparency in the
                                procedure, provide regular updates on the project and give equal priority to all our
                                customers regardless what is the size or type of their project.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="rounded-icon text-center">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <div class="text-center text-blue">
                            <h2>Goals</h2>
                        </div>
                        <div class="text-justify text-muted">
                            <p>“A Dream becomes a Goal when Action is taken towards its Achievement”
                                Our Goals are SMART- Specific, Measurable, Attainable, Relevant and Timely goals. We
                                tend to provide best Web Solutions, Desktop Applications & Mobile Applications, build
                                the Brand of our Customers, build Trust and Long Lasting Relationships, help our
                                customers with Internet Marketing and be the Best in the field of Industrial Trainings.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--** About Why Choose Ends**-->