<div class="footer">
    <div class="container-fluid">
        <div class="row bg-blue">
            <div class="container p-3 mt-5">
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-3">
                        <h4 class="mb-3">Our Services</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a href="#">Web Development</a></li>
                            <li class="mb-3"><a href="#">Mobile Development</a></li>
                            <li class="mb-3"><a href="#">Software Development</a></li>
                            <li class="mb-3"><a href="#">Industrial Training</a></li>
                            <li class="mb-3"><a href="#">IT Integration</a></li>
                            <li class="mb-3"><a href="#">Digital Marketing</a></li>
                            <li class="mb-3"><a href="#">Placement Services</a></li>
                        </ul>
                        <div class="row mb-2">
                            <ul class="list-unstyled list-inline py-2">
                                <li class="list-inline-item mx-2"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                <li class="list-inline-item mx-2"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item mx-2"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li class="list-inline-item mx-2"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3">
                        <h4 class="mb-3">Recent Posts</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a href="#">1-Year Training Program</a></li>
                            <li class="mb-3"><a href="#">Stipend-Based Training</a></li>
                            <li class="mb-3"><a href="#">Internship in Punjab</a></li>
                            <li class="mb-3"><a href="#">MongoDB</a></li>
                            <li class="mb-3"><a href="#">Figma</a></li>
                            <li class="mb-3"><a href="#">REACT NATIVE</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3">
                        <h4 class="mb-3">Jalandhar Office</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><i class="fa fa-paper-plane" aria-hidden="true"></i><a href="#">2nd Floor
                                    Badwal Complex Jalandhar-144001</a></li>
                            <li class="mb-3"><i class="fa fa-phone" aria-hidden="true"></i><a href="#">0181-50515007</a>
                            </li>
                            <li class="mb-3"><i class="fa fa-phone" aria-hidden="true"></i><a href="#">843736007</a>
                            </li>
                            <li class="mb-3"><i class="fa fa-envelope" aria-hidden="true"></i><a
                                    href="mailto:enquiry@o7services.com">enquiry@o7services.com</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3">
                        <h4 class="mb-3">Hoshiarpur Office</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><i class="fa fa-paper-plane" aria-hidden="true"></i><a href="#">1st Floor
                                    Gogia Complex Hoshiarpur-146001</a></li>
                            <li class="mb-3"><i class="fa fa-phone" aria-hidden="true"></i><a href="#">01882-254007</a>
                            </li>
                            <li class="mb-3"><i class="fa fa-phone" aria-hidden="true"></i><a href="#">9988729970</a>
                            </li>
                            <li class="mb-3"><i class="fa fa-envelope" aria-hidden="true"></i><a
                                    href="mailto:enquiry@o7services.com">enquiry@o7services.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-darkBlue text-center">
        <div class="row p-3">
            <div class="col-12 text-muted">
                Copyright © O7services
            </div>
        </div>
    </div>
</div>