<!--** About Widget Starts **-->
<section id="about-widget">
    <div class="bg-choose p-5">
        <div class="container-fluid text-white p-5">
            <div class="row p-5">
                <div class="mx-auto">
                    <div class="row p-5 about-counter">
                        <div class="col-3 d-flex">
                            <div class="px-2 counter-widget"><h1 class="display-1 font-weight-normal">80</h1></div>
                            <div class="mt-4 align-middle"><span class="">Certified Courses</span></div>
                        </div>
                        <div class="col-3 d-flex">
                            <div class="px-2 counter-widget"><h1 class="display-1 font-weight-normal">999</h1></div>
                            <div class="mt-4 align-middle"><span class="">Candidates Every Year</span></div>
                        </div>
                        <div class="col-3 d-flex">
                            <div class="px-2 counter-widget"><h1 class="display-1 font-weight-normal">120</h1></div>
                            <div class="mt-4 align-middle"><span class="">Placed Students</span></div>
                        </div>
                        <div class="col-3 d-flex">
                            <div class="px-2 counter-widget"><h1 class="display-1 font-weight-normal">50</h1></div>
                            <div class="mt-4 align-middle"><span class="">Scholarships Provided</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--** About Widget Ends **-->
<!--** About Certificate Starts **-->
<section>
    <div class="container-fluid p-5 bg-light">
        <div class="row p-5">
            <div class="col-11 mx-auto">
                <div class="row mb-5">
                    <div class="col-3">
                        <img src="./../../../assets/images/web-development-certification.jpg" alt="" srcset="">
                    </div>
                    <div class="col-3">
                        <img src="./../../../assets/images/software-development-certification.jpg" alt="" srcset="">
                    </div>
                    <div class="col-3">
                        <img src="./../../../assets/images/networking-certification.jpg" alt="" srcset="">
                    </div>
                    <div class="col-3">
                        <img src="./../../../assets/images/mobile-app-development-certification.jpg" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--** About Certificate Ends **-->
<!--** About College Logo Starts **-->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 mx-auto">
                <div class="row mb-3">
                    <div class="col-3">
                        <img src="./../../../assets/images/daviet.jpg" alt="Logo Here" srcset="">
                    </div>
                    <div class="col-3">
                        <img src="./../../../assets/images/acem-1.jpg" alt="Logo Here" srcset="">
                    </div>
                    <div class="col-3">
                        <img src="./../../../assets/images/ct-group-of-institutions-1.jpg" alt="Logo Here" srcset="">
                    </div>
                    <div class="col-3">
                        <img src="./../../../assets/images/sd-college-1.jpg" alt="Logo Here" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--** About College Logo Ends **-->